<!DOCTYPE html>
<html>
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
	</title>
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

</head>
<body>
	<div class="container-fluid">
		<i class="fa fa-facebook fa-2x" aria-hidden="true"></i> 
		<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
		<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
		<i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
	</div>




</body>
</html>